{{ template "partials/header" .IsLoggedIn }}
<!-- Hero Section -->
<section class="hero is-fullheight is-black">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
        Keep Your Website Up and Running!
      </h1>
      <h2 class="subtitle">
        We offer 24/7 uptime monitoring for your website, with instant alerts if anything goes down.
      </h2>
      <a class="button is-light is-large is-rounded" href="/login">Get Started Now</a>
    </div>
  </div>
</section>
{{ template "partials/footer" }}
